@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Kanit:wght@400;600&family=Oswald&family=Poppins&family=Roboto:wght@500&family=Rubik:wght@300&family=Signika+Negative:wght@600&display=swap');
*{
  box-sizing:border-box;
  font-family: 'Cairo', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Signika Negative', sans-serif;
  z-index:10;
}
a{
  text-decoration: none;
  color:black;
}
ul li{
list-style-type: none;
}
nav{
  display:flex;
  justify-content: space-between;
  align-content: center;
background-color: #91ffff;
  padding:20px 5px ;
box-shadow:0px 10px 10px 0px rgba(1 1 1/15%);
}
header{
  z-index:999999999;
}
.name{
  position:relative;
  top:-2px;
  font-size:20px;
font-weight:500;
  padding-right:5px;
}

.a-contact {
  padding-left:5px;
  padding-right:10px;
}
.main{
  padding:6px;
  margin-top: 20px;
width:100%;
background-image: url(images-4.jpeg);
background-position:center;
  background-size:cover;
color:white;
  box-shadow: 0px 5px 5px 0px rgba(1 1 1 /15%);
} 

.btn{
  border:1px solid #66b3b3;
  background-color:#66b3b3;
  border-radius: 3px;
  padding: 5px;
}
hr{
  width:100px; 
}
.center{
  display: flex;
  justify-content: center;
  font-size:20px;
}
.description{
  padding:10px;
  background-color:#66b3b3;
  border-radius: 5px;
transition:0.7s ease;
  margin:5px;
margin-top:15px;
height:auto;

}
.description:hover{
  transform: scale(1.1);
} 

footer{
padding:10px;
  margin-top:-7px;
  background-color:#077878;
  width: 100%;
  height:auto;
}
.copy{
  display: flex;
  justify-content: center;
}
.hr-two{
  margin-top:20px;
margin-bottom: 2px;
}
@media(max-width: 1023px){
  
}